body {
	background-color: rgb(29,27,38);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	min-width: 600px;
	color: rgb(209,209,214);
}

content {
	min-width: 600px;
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
}

h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 0px;
	text-align: center;
}
 
h2 {
	display: flex;
	font-size: 1em;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 2em;
}

div	{
	display: flex;
	flex-direction: row;
	margin-top: 0.4em;
	vertical-align:middle;
}

a {
	display: flex;
	align-items: center;
	background-color: rgb(44,44,46);
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

a:first-child {
	flex: 1;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
	padding-left: 1em;
	text-decoration: none;
}

a:first-child:hover {
	text-decoration : underline;
	cursor: pointer;
}

a:last-child {
	display: flex;
	justify-content: center;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
	margin-left: 0.1em;
	min-width: 2em;
}

a, i {
	color: rgb(209,209,214);
}

a:hover {
	background-color: rgb(29,27,38);
}

@media only screen and (max-device-width:480px) {
	body {
		font-size: 2em;
	}
  content {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
	font-size: 1.5em;
	}
	div {
		margin-top: 0.1em;
	}
	content a:first-child, content a:last-child {
		border-radius: 0;
	}
	div.special {
		flex-direction: column;
		border-radius: 0;
	}
	div a {
		background-color: rgb(13,12,22);
	}
	.special div ul {
		display: flex;
		flex-direction: column;
		flex: wrap;
	}
	h2 {		
		margin-top: 0px;
		font-size: 0.8em;
	}
	.special div a i, content a i {
		padding: 0.5em;
	}
	content div a {
		padding-top:  0.5em;
		padding-bottom: 0.5em;
		font-size: 0.8em;
	  	padding-left: 0.5em;
	  	padding-right: 0.5em;
	}
	div.special {
		background-color: rgb(13,12,22);
	}
}

.special {
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	height: auto;
	border-radius: 0.5em;
	padding: 1em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	background-color: rgb(44,44,46);
}

.special ul {
	margin:  0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.special li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
}


.special p {
	display: flex;
	width: 100%;
	margin: 0px;
	padding-top: 0.5em;
}

.special li a {
	text-align: left;
	display: flex;
}

.special div {
	margin-left: 0.3em;
}

.special div a:first-child {
	flex: none;
	padding-right: 2em;
  	background-color: rgb(55,54,63);
  	border-top-left-radius: 0.3em;
  	border-bottom-left-radius: 0.3em;
}

.special div a:hover {
	background-color: rgb(33 32 42);
	text-decoration: none;
}

.special div a:last-child {
	padding: 0cm;
  font-size: 0.9em;
  background-color: rgb(55,54,63);
  min-width: 2em;
}

.special div a:last-child:hover {
	background-color: rgb(33 32 42);
  	border-top-right-radius: 0.3em;
  	border-bottom-right-radius: 0.3em;
}
.special div i:hover {
	color: rgb(209,209,214);
}